.roundLinks {
  text-align: center;
  padding-bottom: 1rem;
}

.circle {
  padding: 2rem;
}

.fas {
  color:  #B85C38;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #2D2424;
  padding: 20px;
  align-content: center;
  }

.header {

}

h1 {
  text-align: left;
  text-decoration: underline;
  font-style: italic;
  color: #B85C38;
}

@media (min-width: 768px) {
  .coName {
    align-content: center;
  }
}
